/* --------------------------- *\
 * #Google Fonts 
\* --------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

::selection {
  background: var(--yellow-dark);
  color: var(--white);
}

/* --------------------------- *\
 * #root
\* --------------------------- */

:root {
  --primary-color: #4262ff;
  --yellow: #ffd02f;
  --yellow-dark: #ff9d48;
  --white: #ffffff;
  --black: #000000;
  --blue-dark: #050038;

  /* font weight */
  --fw-400: 400;
  --fw-700: 700;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}



.collaborate {
  width: 90%;
  padding: 5rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  & .collaborateHead {
    max-width: 500px;
    margin: 0 auto;
  }

  & .rotate {
    background-color: #FFD02F;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 15px;
    transform: rotate(14deg);
    border-radius: 10px;
    margin: 2rem 0rem 2rem 19rem;
  }

  & h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #050038;
  }

  & .collaborateItem {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
  }

  & .cItem {
    max-width: 350px;
    text-align: left;

    & h4 {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 25px;
      color: #050038;
    }

    & p {
      font-size: 16px;
      line-height: 24px;
      color: #05003899;

      & a {
        color: #4262FF;
      }
    }
  }

  & .cBtn {
    color: #fff;
    background-color: #4262FF;
    width: 11rem;
    font-size: 18px;
    padding: 1rem;
    border-radius: 40px;
    margin: 2rem auto 0;
    text-align: center;
    cursor: pointer;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .collaborateHead {
    & {
      max-width: 450px;
    }

    & h2 {
      font-size: 2.2rem;
    }

    & .rotate {
      margin: 2rem 0rem 2rem 12rem;
    }
  }
}

@media (max-width: 768px) {
  .collaborate {
    width: 400px;
  }

  .collaborateHead {
    & .rotate {
      margin: 2rem 0rem 2rem 11rem;
    }
  }

  .collaborateHead h2 {
    font-size: 2rem;
  }

  .collaborateItem {
    flex-direction: column;
    align-items: center;
  }

  .cItem {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .collaborateHead {
    & h2 {
      font-size: 1.8rem;
    }
  }

  .cItem {
    & h4 {
      font-size: 1.3rem;
    }

    & p {
      font-size: 14px;
    }
  }

  .cBtn {
    width: 9rem;
    font-size: 16px;
  }
}
